.header {
  margin-top: 45px;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 70%);
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
  }

  .header__image {
    width: 126px;
    height: 24px;
  }
}
