.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  /* transition: opacity 0.2s linear, visibility 0s 0.2s; */
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  /* transition: opacity 0.2s linear; */
  transition-delay: 0s;
}

.modal__container {
  max-width: 430px;
  width: 100%;
  max-height: 330px;
  position: relative;
  padding: 34px 36px 36px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  color: black;
}

.modal__image {
  display: flex;
  flex-direction: column;
}

.modal__button-container {
  position: relative;
}

.modal__close {
  width: 40px;
  height: 40px;
  top: -45px;
  right: -45px;
  background-image: url(../images/close-icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  cursor: pointer;
  transition: opacity 0.5s;
}

.modal__heading {
  font-size: 24px;
  font-family: "Inter";
  font-weight: 900;
  top: 34px;
  margin: 0 0 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter";
  padding: 0 0 13px 0;
}

.modal__input_type_error {
  border-bottom: 1px solid;
  border-bottom-color: rgba(255, 0, 0, 1);
}

.modal__error {
  color: rgba(255, 0, 0, 1);
  font-family: "Inter";
  font-size: 12px;
  line-height: 15px;
  visibility: hidden;
  min-height: 36px;
}

.modal__error_visible {
  visibility: visible;
}

.modal__button {
  width: 100%;
  height: 50.15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  font-size: 18px;
  font-family: "Inter";
  line-height: 21.78px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.5s;
}

.modal__button_disabled {
  opacity: 0.2;
}

.modal__image-popup {
  max-height: 75vh;
  max-width: 75vw;
}

.modal__caption {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 600px) {
  .modal__close {
    right: 0;
    top: -39px;
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }
  .modal__heading {
    margin: 0 0 75px;
  }
  .modal__button {
    max-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }

  .modal__heading {
    font-size: 18px;
    font-weight: 900;
    line-height: 21.78px;
  }
}
